<!DOCTYPE html>

<html lang="ja">

<head>
 <title> NAMAKEMONO </title>
<!-- meta -->
 <meta charaset = "utf-8">
 <meta name="viewport" content="width=device-width", "initial-scale=1">
 <meta name="description" content="This is my first portfolio and photo gallery project.">
 <meta name="keywords" content="photo, 写真, 風景, 景色, 夜景, landscape, view, nightscape, ポートレート, beginner">
 <meta name="author" content="Kzm9298">

<!--Google Tag Manager-->
  <script>
  </script>
<!--End GTM-->

<!-- stylesheet -->
<link rel="stylesheet"  href="css/contact_stylesheet.css">
<!-- // stylesheet -->

<!-- links js,img etc...-->

<!--  -->
<!-- // links -->
</head>

<body class="index">
  <!-- GTM (noscript) -->
  <!-- // GTM (noscript) -->
       <header>
           <!-- class="inside" -->
          <div class="bkRGBA">
            <a href="."  ><img src="assets/menu.png" class="menu_bottom" alt="" width="40px" height="40px"></a>
            <h1><img src="assets/Title.png" height="86px", width="308" class="title_image" /></h1>
          </div>


      </header>

<!-- main -->
<main class="clear_box">
    <section>
       <img src="assets\topic3.jpg" width=600 height=auto />
    </section>
    <section>
      <h1>Contact Form</h1>
      <form method="GET" class="contact_form">
       <input type="text" name="Name" placeholder="Name" required/></br>
       <input type="text" name="email" placeholder="Email" required/></br>
       <input type="text" name="title" placeholder="Title" required/></br></br>
       <textarea name="message" placeholder="Message" cols="40" rows="20" required></textarea></br>
       <input type="submit" value="Send"/>
      </form>
    </section>


</main>

<footer class="clear_box">
    <p>(c) @kazenomonon</p>
</footer>
</body>
</html>
