<!DOCTYPE html>

<html lang="ja">

<head>
 <title> NAMAKEMONO </title>
<!-- meta -->
 <meta charaset = "utf-8">
 <meta name="viewport" content="width=device-width", "initial-scale=1">
 <meta name="description" content="This is my first portfolio and photo gallery project.">
 <meta name="keywords" content="photo, 写真, 風景, 景色, 夜景, landscape, view, nightscape, ポートレート, beginner">
 <meta name="author" content="Kzm9298">



<!--Google Tag Manager-->

<!--End GTM-->

<!-- stylesheet -->
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet"  href="css/home_stylesheet.css"> -->
<!-- // stylesheet -->

<!-- links js,img etc...-->

<!--  -->
<!-- // links -->
</head>

<body>
  <section>
    <div class="bkRGBA">
      <div id="title_header">
        <img src="assets/Title.png" id="title_img" width=270px height=auto/>
        <ul id="menu">
          <li>
            <a href="about.html.erb" style="text-decoration:none;">
              About
            </a>
          </li>
          <li>
            <a href="#link" style="text-decoration:none;">
              Photos
            </a>
          </li>
          <li>
            <a href="contact.html.erb" style="text-decoration:none;">
              Contacts
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="head_image">
      <img src="assets/DSC_0974.jpg" id="head_shot" width=1216px height=auto/>
      <!-- <img src="img/IMG_20190514_170659_991_aaa.jpg" id="head_shot" width=1216px height=auto /> -->
    </div>
  </section>

  <section id="content_images">
    <a name="link"></a>
    <div id="Photos">
      <img src="assets\DSC_0914-Edit.JPG"   />
      <img src="assets\IMG_20200501_225401.jpg"   />
      <img src="assets\IMG_20191104_183514_297.jpg"   />
      <img src="assets\IMG_20190514_170659_991_aaa.jpg"   />
      <img src="assets\IMG_20191105_083555_778.jpg"   />
      <img src="assets\DSC_0755-Edit.JPG"   />
      <img src="assets\DSC_0936-Edit.JPG"   />
      <img src="assets\DSC_1059-Edit.JPG"   />
      <img src="assets\IMG_20190516_174719_815.jpg"   />
      <img src="assets\DSC_0990-Edit.JPG"   />
    </div>
  </section>

  <footer>
      <p>(c) @kazenomonon</p>
  </footer>
</body>
