/* * title */
#title_header{
  text-align: left;
  float:left;
}

#title_img{
  position: fixed;
}

#menu{
  float:right;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: lighter;
  margin-top: 100px;
  margin-bottom: auto;
}

#menu li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  font-family: 'Balsamiq Sans';
  font-weight:bolder;
  color: black;
}

.bkRGBA {
  margin: 0;
  padding: 0;
  /* 背景画像の透過用css */
  height: 100%;
  background: rgba(255,255,255,0.5);
}

/* head image */
#head_image{
  width: 100%;
  text-align:right;
  margin:0;
}

#head_shot {

}
 /* contents */
 #content_images{
   width: 100%;
   text-align: center;
 }
 #Photos{
   /* display: flex;
   flex-wrap: wrap;
   justify-content: center | space-evenly;
   align-content: center; */
   line-height: 2;

   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   -moz-column-count:    2;
   -moz-column-gap:      0px;
   column-count:         2;
   column-gap:           0px;
 }
  #Photos img{
     width: 98%;
    height:auto;
    /* width: 500px;
    height:auto; */
  }

 /* footer */
 footer {
   width: 100%;
   margin: 0 auto 60px;
 }

 /* footer ul {
   list-style-type: none;
 }

 footer li {
   display: inline-block;
 }


 footer li > a:hover {
   opacity: 0.6;
 } */

 footer p {
   color: lightgrey;
   font-size: 20px;
   text-align: left;
 }

@media screen and (max-width: 1490px)
 {
   #title_header{
     position: fixed;
   }

   #title_img{
     position:sticky;
   }

   #menu{
     float: right;
     text-align: right;
     margin: 0;
   }
   #menu li{
     display: inline-block;
     height: 81px;
     padding-left: 5px;
     font-size: 20px;
   }

   /* head image */
   #head_image{
     width: 1216px;
     text-align: center;
     margin-left: auto;
     margin-left: auto;
   }

   #head_shot {
     width: 100%;
    margin-top: 85px;
   }

   /* contents */
   #content_images{
     margin-left: auto;
     margin-right: auto;
     width: 1216px;
   }
 }

 @media screen and (max-width: 1020px)
  {
    /* head image */
    #head_image{
      width: 1216px;
      text-align: center;
      margin-left: 0;
      margin-left: 0;
    }

    #head_shot {
      width: 100%;
     margin-top: 85px;
    }
   /* contents */
    #Photos{
        text-align: center;
        /* line-height: 2;
        -webkit-column-count: 3;
        -webkit-column-gap:   0px;
        -moz-column-count:    3;
        -moz-column-gap:      0px;
        column-count:         3;
        column-gap:           0px;*/
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* align-content: center; */
    }

    #content_images{
      margin-left: auto;
      margin-right: auto;
    }

    #Photos img{
      width: 80%;
      height:auto;
      margin: 2px;
    }
  }

@media screen and (min-width: 1557px){

  #menu{
    font-size: 45px;
    font-weight: lighter;
    margin-top: 120px;
    margin-bottom: auto;
  }

  #menu li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #title_img{
    width: 400px;
    height: auto;
  }
  #head_image{
    width: 2000px;
    text-align: right;
  }
  #head_shot{
    width: 80%;
  }
  #content_images{
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
  }
}
